@media only screen and (min-width: 36.01em) and (max-width: 48em) {

    #call img {
        border-radius: 0;
    }

    #hero {
        background: linear-gradient(transparent 0%, white 200%), url(../images/heromedium.webp);
    }

    #services, #rental {
        grid-template-columns: 1fr 1fr;
        background-color: var(--background);
    }

    #services h3, #rental h3 {
        grid-area: 1 / span 2;
    }

    .service {
        background-color: var(--menu);
        margin: 1rem;
        padding: 0 0 1rem 0;
        border-radius: 10px;
        border: solid 1px white;
    }

    .service:hover {
        scale: 1.05;
        transition: .2s;
    }

    .service h4 {
        border-top: none;
    }

    .service img {
        margin-top: 2rem;
    }

    .vehicule:last-child {

        grid-area: 3 / span 2;
    }

    #map, #aboutUs {
        width: 86%;
        margin: 0 auto;
    }

}
    