@media only screen and (min-width: 36.01em) and (max-width: 48em) {
    .spotlights {
        grid-template: 2rem 1fr 1fr/ 1fr 1fr;
    }

    .spotlights h2 {
        grid-area: 1 / span 2;
        height: max-content;
    }

    h2 {
        font-size: large;
    }

    .memberLast {
        grid-area: 2 / span 2;
    }

    #darkMode {
        right: 1rem;
        border: black solid 1px;
        border-radius: 5px;
        background: none;
        background-color: white;
    }

    #darkPcMode {
        right: 2rem;
        border: black solid 1px;
        border-radius: 5px;
        background: none;
        background-color: white;
    }

    #menuOptions li a:hover {
        background-color: #001a22;
        transition: 0.3s;

        margin-right: 1rem;
        padding-left: 10rem;
    }

    /*---------- Styling discovery----------*/

    .events {
        display: inline-block;
        width: 40%;
    }

    /*---------- Styling the form ----------*/

    main {
        grid-template-columns: 100%;
        width: 100%;
    }

    /*---------- ^ Styling members ^ ----------*/

    .gridFormat {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;
    }

    #members section:nth-child(2n + 2) {
        background-color: #012A36;
    }

    #members section:nth-child(2n + 1) {
        background-color: white;
    }

}